html {
	background-color: #1F1F1F;
	font-family: monospace;
	color: white;
	font-size: 1.4em;
	cursor: none;
}

body {
}

#text_container {
	width: fit-content;
	height: fit-content;
	text-align: center;
	margin: auto;
	margin-top: 25%;
}

#proceed_text {
	position:  absolute;
	opacity: 0;
	width: fit-content;
	height: fit-content;
	text-align: center;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -50%);
	
}